// Define variables for your color scheme

// For example:
$pink: #FF016C;
$blue: #153A7E;
$yellow: #FFCC00;
$red: #FD1015;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #153e84;
