.main-container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0px;
}


.text-white {
  color: white !important;
}

.text-blue {
  color: $blue !important;
}

.hidden {
  display: none;
}

.commande-body {
  display: flex;
  background-color: $blue;
}

.body-commande {
  background-color: $blue;
}

// .custom-cur {
//   cursor: asset-url('mouse.svg'), move;
//   a {
//     transition: 0.3s;
//   }
//   a:hover {
//     cursor: asset-url('mouse-hover.svg'), move;
//   }
// }
