.main-container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0px;
}


.text-white {
  color: white !important;
}

.text-blue {
  color: $blue !important;
}

.hidden { display: none; }

.commande-body {
  display: flex;
  background-color: $blue;
}

