.avantages-main-container {
  // background-color: pink;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.a-oeuf-1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.a-oeuf-2 {
  position: absolute;
  transition: 0.2s;

  top: 10%;
  left: 10px;
  width: 90%;
  z-index: 5;
    img {
    width: 105%;
    }
}
.dual-container {
  display: flex;
  justify-content:space-between;
}

.a-line {
  position: absolute;
  top: 50%;
}

.avantages-details {
  margin: 13% auto;
  // background-color: red;
  width: 25%;
  margin-left: 14%;
    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 55px;
      line-height: 72px;
      color: $blue;
      padding-bottom: 40px;
    }
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
      color: $blue;
    }
}

.avantages-cards {
  // background-color: blue;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.back-card {
  position: relative;
  margin-left: 30px;
  width: 550px;
  height: 700px;
  z-index: 5;
  &:hover {
    .back-card-one {
    transform: rotate(6deg);
    }
    .back-card-two {
    transform: rotate(-6deg);
    }
  }
}

.avantages-card {
  position: absolute;
  transition: 1s;

  top: 10%;
  left: 15%;
  width: 100%;
  height: 100%;
  z-index: 5;
  .card-images {
    img {
    width: 70%;
    }
  }
}


@media (max-width: 960px) {
  .avantages-details {
    margin: 13% auto;
    width: 25%;
    margin-left: 7%;
      h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 55px;
        line-height: 72px;
        color: $blue;
        padding-bottom: 40px;
      }
      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        color: $blue;
      }
  }
  .back-card {
    width: 400px;
    top: 17%;
  }
  .a-oeuf-1 {
    display: none;
  }
}

@media (max-width: 720px) {
  .avantages-main-container {
    overflow: hidden;
    width: 100vw;
    height: 1000px;
  }

  .dual-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .a-line {
   display: none;
  }
  .avantages-details {
    // margin: 13% auto;
    margin-top: 15%;
    margin-bottom: 5%;
    // background-color: red;
    width: 50%;
    margin-left: 14%;
  }
  .avantages-cards {
    // background-color: blue;
    width: 82%;

  }
  .back-card {
    top:0px;
    margin-left:0px;
  }
}



