.contact-main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.contact-eggs-1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.contact-eggs-2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

.contact-second-container {
  // background-color: red;
  width: 70%;
  height: 80%;
  position: absolute;
  // position: relative;
  top: 10%;
  left:15%;
  display: flex;
  justify-content: space-between;
}

.contact-container {
  // background-color: pink;
  width: 66%;
  height: 100%;
  .title-container {
    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      line-height: 72px;
      color: $blue;
    }
    h2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 38px;
      line-height: 60px;
      color: $blue;
    }
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
      color: $blue;
    }
  }
  .form-container{
    h3 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 38px;
      line-height: 72px;
      color: $blue;
    }
    .form-control {
      border:none;
      border-bottom: 2px $blue solid;
      background-color: transparent;
    }
    .form-control:focus {
      box-shadow: none;
    }
    #contact_message {
      height: 110px;
    }
  }
}

.address-container {
  // background-color: blue;
  width: 33%;
  height: 100%;
  display: flex;
  align-items: end;
  .address {
  width: 80%;
  margin-left: 40px;
  margin-bottom: 55px;

  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    color: $blue;
  }
  }
}

@media (max-width: 720px) {
  .contact-main-container {
    height: 1200px;
  }
  .contact-container {
    width: 80%;
    height: 100%;
    .title-container {
      h1 {
        font-size: 50px;
        line-height: 50px;
      }
    }
  }
  .address-container {
    // background-color: blue;
    width: 50%;
    .address {
    margin-left: 40px;
    }
  }
}
@media (max-width: 540px) {
  .contact-second-container {
    // background-color: red;
    width: 90%;
    top: 6%;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .address-container {
    margin-top: 7%;
    width: 100%;
    .address {
      margin-left: 15px;
    }
  }
}



