// Specific CSS for your home-page

.home-container {
  // margin-top: 70px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
}


.cta-container {
  // background-color: $blue;
  color: white;
  width: 50%;
  height: 40%;
  margin: 0px auto ;
  margin-top: 15%;
  padding: 15px;
  h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
  }
  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
  }
  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
  }
}

.home_video {
  // z-index: 30;
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 960px) {
  .cta-container {
  width: 50%;
  height: 40%;
  margin: 0px auto ;
  margin-top: 15%;
  padding: 15px;
  h1 {
    font-size: 60px;
  }
  }
}
@media (max-width: 720px) {
  .cta-container {
      width: 70%;
      height: 40%;
      margin: 0px auto ;
      margin-top: 15%;
      padding: 15px;
      h1 {
        font-size: 40px;
        line-height: 1.7;
      }
      }
    }
@media (max-width: 540px) {
  .cta-container {
    width: 90%;
  }
}

