// Specific CSS for your home-page

.cta-container {
  width: 45%;
  height: 40%;
  margin-left: 20%;
  margin-top: 15%;
  color: white;
  padding: 15px;
  h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
  }
  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
  }
  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
  }
}
