.long-container {
  height: 100vh;
  // width: 3000px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

.services-info-container {
  position: absolute;
  width: 300px;
  height: 30%;
  padding-top: 5%;
  margin-left: 8%;
  p {
  color: $blue;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  }
  h1 {
  color: $blue;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 72px;
  }
}

.oeuf-1 {
  height: 330px;
  position: fixed;
  top: 10%;
  left: 600px;
}

.oeuf-2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.ellipse-1 {
  position: absolute;
  top: 100px;
  right: 100px;
}

.long-line {
  position: absolute;
  bottom: 100px;
  left: 150px;
  width:auto;
}

.plein {
  overflow: hidden;
  width:200px;
}

.dashed {
  overflow: hidden;
  width:2800px;
}

.service-board {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: absolute;
  top: 20%;
  left: 750px;
}

.card-service {
  width: 315px;
  height: 416px;
  background-color: $blue;
  margin: 15px;
  text-align: center;
  border-radius: 5px;

  p {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  padding: 15px;
  }
  h2 {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 72px;
    padding: 15px;
  }
}
.ghost-card_service {
  position: relative;
  margin-bottom: 20px;
  flex: 0 0 auto;
}

.s-button {
  padding: 15px 40px;
  border: solid 2px $pink;
  background-color: white;
  border-radius: 5px;
  color: $pink;
  position: absolute;
  bottom: -14px;
  left: 22%;
}
// SHOW ------------
.show-service-container {
  display: flex;
  background-color: $blue;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.show-service-img {
  // background-color:red;
  width: 50%;
  margin: auto 0px;
  display: flex;
  justify-content: center;
}

.show-service-details {
  padding: 30px;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  // background-color:red;
  width: 50%;
  height: 70%;
  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 72px;
    color: white;
  }
  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: white;

  }
  a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: white;
  }
  .d-button {
    padding: 15px 40px;
    border: solid 2px $pink;
    background-color: white;
    border-radius: 5px;
    color: $pink;
    width: 250px;
  }
}

