<div id="swup" class="transition-right main-container">
  <div class="home-container">
    <div class="social-container">
      <%= render 'shared/social' %>
    </div>
    <div class="cta-container">
      <div class="tag">
        <h4>#fastandcouriers</h4>
      </div>
      <div class="title">
      <h1>Les coursiers les plus rapides de Nantes !</h1>
      </div>
      <div class="text">
        <p>Imprévu ? Rush inattendu ? Vous ne devriez même pas prendre le temps de lire ceci ? Appelez-nous ou cliquez sur “passer une course”, livraison effectuée en moins de 45 minutes !</p>
      </div>
    </div>
  </div>
</div>
