<div class="story-main-container">
  <div class="blue-back"></div>
  <div class="end-line">
    <%= image_tag "end-line.svg" %>
  </div>
  <div class="h-oeuf-1">
    <%= image_tag "h-oeuf-1.svg" %>
  </div>
  <div class="story-second-container">
    <div class="story-image">
      <%= image_tag "story-image.png" %>
    </div>
    <div class="story-details">
      <div class="bici-white"><h1>L’histoire de BiciCouriers</h1></div>
      <div class="bici-blue"><h1>L’histoi BiciCouriers</h1></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit laboriosam, voluptatem enim earum neque excepturi, eos, non sint rerum quasi doloremque nisi quisquam obcaecati a numquam incidunt reprehenderit consequatur odio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt facilis vitae excepturi maxime adipisci delectus tempore, aperiam nulla rem laboriosam. Eum alias quisquam expedita, veritatis consectetur architecto molestiae ea. Atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam recusandae excepturi rem nobis est eveniet autem, ratione quae, rerum cum mollitia, sapiente voluptas minima et, at architecto quia commodi qui.</p>
    </div>
  </div>
</div>
