<div class="carnet-main-container">
  <div class="carnet-in-progress">
    <h1>Mes carnets</h1>
    <div class="index-titles index-column">
      <div class="index-title title center">          <p>Date d'achat</p>     </div>
      <div class="index-title title center">          <p>Qantitée</p> </div>
      <div class="index-title title center">          <p>Prix</p>             </div>
      <div class="index-title title center">          <p>Tickets restant</p>                        </div>
    </div>
  </div>
  <%= render 'shared/index_carnets', carnets: @inprogress %>
  <%= render 'shared/index_carnets', carnets: @oldone %>
</div>
