.carnet-main-container {
  // background-color: red;
  width: 80vw;
  height: 3000px;
  margin-top: 100px;
  .carnet-in-progress {
    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: white;
      margin-left: 7.5%;
    }
  }
  .index-carnets {
    width: 85%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 60%;
    grid-template-rows: auto;
    .title > p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
    }

    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: white;
    }
    .bici-button {
      padding: 7px 12px;
    }
  }

  .index-contents {
    margin-top: 20px;
    .index-content {
    // background-color: pink;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
    }
  }

  .index-titles {
    margin-top: 20px;
    .index-title {
      padding: 0px 10px;
      border-bottom: 2px solid white;
    }
  }
}
