.course-main-container {
  // background-color: red;
  width: 80vw;
  // height: 3000px;
  margin-top: 100px;

  .course-in-progress {
    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: white;
      margin-left: 7.5%;
    }
  }

  .index-courses {
    width: 85%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 10% 23% 10% 20% 10% 7.5% 7.5% 3% 10%;
    grid-template-rows: auto;
    border-bottom: solid white 1px;
    .title > p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }

    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: white;
    }

    .bici-button {
      padding: 7px 12px;
    }
  }

  .index-contents {
    margin-top: 20px;
    .index-content {
    // background-color: pink;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
    }
  }

  .index-titles {
    margin-top: 20px;
    .index-title {
      padding: 0px 10px;
      border-bottom: 2px solid white;
    }
  }
}

.status-pending {
  p {
  color: red !important;
  font-weight: 600 !important;
  }
}
.status-inprogress {
  p {
  color: orange !important;
  font-weight: 600 !important;
  }
}
.status-accepted {
  p {
  color: $yellow !important;
  font-weight: 600 !important;
  }
}
.status-done {
  p {
  color: green !important;
  font-weight: 600 !important;
  }
}
