.course-main-container {
  // background-color: red;
  width: 100%;
  // height: 3000px;
  margin-top: 100px;
  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }

  .course-in-progress {
    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: white;
      margin-left: 7.5%;
    }
  }
  .index-column {
    width: 90%;
    height: 50px;
    margin: 0px auto;
    display: grid;
    align-items: center;
    grid-template-columns: 5% 25% 5% 25% 10% 10% 10% 10%;
    grid-template-rows: auto;
    .title > p {
      color: white;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .index-courses {
    background: $light-blue;
    box-shadow:  5px -5px 10px #133574,
                 -5px 5px 10px #173f88;
    margin-bottom: 7px;
    border-radius: 7.5px;
    transition: 0.2s;
    // border-bottom: solid white 1px;
    &:hover {
      background: $blue;
      transform: scale(1.01);
      text-decoration: none;

    }

    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: white;
    }
  }

  .index-contents {
    margin-top: 20px;
    .index-content {
    // background-color: pink;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
    }
  }

  .index-titles {
    margin-top: 20px;
    .index-title {
      // padding: 0px 0px;
      border-bottom: 2px solid white;
    }
  }
}

.status-pending {
  p {
  color: red !important;
  font-weight: 600 !important;
  }
}
.status-inprogress {
  p {
  color: orange !important;
  font-weight: 600 !important;
  }
}
.status-accepted {
  p {
  color: $yellow !important;
  font-weight: 600 !important;
  }
}
.status-done {
  p {
  color: green !important;
  font-weight: 600 !important;
  }
}
