.user-edit-main-container {
  width: 80vw;
  // height: 3000px;
  margin-top: 100px;
  color: white;
  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 2.5%;
  }
  .first-container {
    display: flex;
    // background-color: red;
    justify-content: space-around;
    .first-left, .first-right, .second-left, .second-right {
      width: 45%;
      // height: 400px;
      // margin: 10px;
      // background-color: pink;
      color: white;
      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 90%;
      }
      .title {
        font-weight: 300;
        width: 30%;
      }
      .input {
        width: 70%;
        // background-color: red;
      }
      .bici-button {
        margin-top: 20px;
      }
    }
  }
  .second-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    // background-color:pink;
    margin: 0px auto;
    .buttons {
      display: flex;
      justify-content: space-between;
    }
    .white {
      color: white;
    }
    .form-actions {
      width: 50%;
    }
  }

  .form-control {
    border:none;
    border-bottom: 2px $yellow solid;
    background-color: transparent;
    color: white;
  }
  .form-control:focus {
    box-shadow: none;
  }
  #contact_message {
    height: 110px;
  }
  .inline-input {
    display: flex;
    align-items: center
  }
}










