.new-carnet-main-container {
    width: 100%;
    margin-top: 100px;
  .first-container {
    // width: 100%;
  }
  .carnets-container{
    width: 100%;
    display: flex;
    // background-color: red;
    justify-content: space-around;

  }
  .carnet-card{
    // background-color: pink;
    transition:0.4s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 25%;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    background: $light-blue;
    box-shadow:  7px -7px 14px #143776,
                 -7px 7px 14px #143776;
    &:hover {
      background: #153A7E;
      box-shadow:  15px -15px 51px #113069,
                   -15px 15px 51px #113069;
      transform: scale(1.05);
    }
    .description {
      min-height: 100px;
    }
    .counter {

      font-size: 24px;
      font-weight: 600;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: space-between;
    padding: 15px;
    // overflow: hidden;
  }
  .active {
    height: 362px;
  }
  .bici-button {
    margin: 0px 15px 24px 15px !important;
  }
}

#new_carnet {
  width: 100%;
  margin: 0px 20px;
}
