.main-container-session {
  background-image:linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0)), asset-url('velo-sur-pont-nantes.png');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  .log-form {
    width: 25%;
    height: 60%;
    margin-left: 12%;
    padding-top: 17%;
  }

  .form-check-label, .text-muted {
    color:white !important;
  }
  .form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .button_second {
    color: $white;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.column {
  display: flex;
  flex-direction: column;
}
