.user-main-container {
  width: 80vw;
  height: 3000px;
  margin-top: 100px;
  .first-container, .second-container {
    display: flex;
    // background-color: red;
    justify-content: space-around;
    .first-left, .first-right, .second-left, .second-right {
      width: 45%;
      height: 400px;
      // margin: 10px;
      // background-color: pink;
      color: white;
      h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 20px;
      }
      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 90%;
      }
      .title {
        font-weight: 300;
      }
      .bici-button {
        margin-top: 20px;
      }
    }
  }
}










